////
/// These functions perform more complex checks needed by assertions.
/// They keep the core assertion functions slightly more slim by offloading complex logic into external helpers.
/// All of these functions should return booleans, and shouldn't require the assertion context to function.
////

/// Check if a list contains a value, or if a string contains a substring.
/// @param {List|String} $haystack - Value to search within.
/// @param {*} $needle - Value to search for.
/// @returns {Boolean} `true` if `$needle` is inside `$haystack`, `false` otherwise.
@function -ocha-check-contains($haystack, $needle) {
  @if type-of($haystack) == 'list' {
    @return if(index($haystack, $needle), true, false);
  }
  @else {
    @return if(str-index($haystack, $needle), true, false);
  }
}

/// Check if `$value` is equal to one of the values in `$list`.
/// @param {*} $value - Value to look for.
/// @param {List} $list - List to search.
/// @returns {Boolean} `true` if the value was found, `false` otherwise.
@function -ocha-check-oneOf($value, $list) {
  $found: false;

  @each $item in $list {
    @if $value == $item {
      $found: true;
    }
  }

  @return $found;
}

/// Check if list `$map` contains every value in `$list`.
/// @param {List} $map - List to check within.
/// @param {List} $list - Values to look for.
/// @returns {Boolean} `true` if all values in `$list` were found, `false` otherwise.
@function -ocha-check-members($map, $list) {
  $result: true;

  @each $item in $list {
    @if index($map, $item) == null {
      $result: false;
    }
  }

  @return $result;
}

/// Check if a map or list contains a deeply-nested property, using this syntax:
///   - `key`: Look for `key` within the map.
///   - `key.subkey`: Look for `key`, and then `subkey` inside of that.
///   - `1`: Look for index 1 within a list.
///   - `key.1`: Look for `key` with a map, and then index 1 of `key`.
/// By default, this function just checks for the existence of the final key or index. However, by passing the `$value` parameter, it will check if the key exists *and* if the value of the key matches `$value`.
///
/// @param {String} $items - Keys to check for, separated by dots.
/// @param {Map|List} $input - Map or list to search.
/// @param {$value} [null] $value - Value to check.
/// @returns {Boolean} `true` if the key was found (or `true` if the key with `$value` was found), `false` otherwise.
@function -ocha-check-deep-property($items, $input, $value: null) {
  $keys: if(type-of($input) == 'string', -ocha-str-split($input, '.'), $input);
  $key: nth($keys, 1);

  // $items is a map
  @if type-of($items) == 'map' {
    // Check if the map has the key given
    @if map-has-key($items, $key) {
      // If the length of $keys is 1, then we're on the last item in the chain, so we should check for a matching value
      @if length($keys) == 1 {
        @if $value != null {
          @return map-get($items, $key) == $value;
        }
        // ...unless no value to check was passed, in which case we're just verifying that the key exists
        @else {
          @return true;
        }
      }
      // If there are still more keys to check, we have to go deeper
      @else {
        $value-type: type-of(map-get($items, $key));

        // The nested value to check must be a map or list
        @if $value-type == 'map' or $value-type == 'list' {
          $next-items: map-get($items, $key);
          $next-input: -ocha-str-slice($keys, 2);
          @return -ocha-check-deep-property($next-items, $next-input, $value);
        }
        // If it's not, return false
        @else {
          @return false;
        }
      }
    }
    @else {
      @return false;
    }
  }
  // $items is a list
  @else if type-of($items) == 'list' {
    $i: -ocha-to-number($key);

    // Check if the index exists in the list
    @if $i <= length($items) {
      // If the length of $keys is 1, then we're on the last item in the chain, so we should check for a matching value
      @if length($keys) == 1 {
        @if $value != null {
          @return nth($items, $i) == $value;
        }
        // ...unless no value to check was passed, in which case we're just verifying that the key exists
        @else {
          @return true;
        }
      }
      // If there are still more keys to check, we have to go deeper
      @else {
        $value-type: type-of(nth($items, $i));

        // The nested value to check must be a map or list
        @if $value-type == 'map' or $value-type == 'list' {
          $next-items: nth($items, $i);
          $next-input: -ocha-str-slice($keys, 2);
          @return -ocha-check-deep-property($next-items, $next-input, $value);
        }
        // If it's not, return false
        @else {
          @return false;
        }
      }
    }
    // If it's not there, return false
    @else {
      @return false;
    }
  }
  // $items is neither
  @else {
    @error 'expect(): property can only be used with maps and lists.';
  }
}

/// Check if a value is truthy. This includes:
///   - `true`
///   - Any value that isn't `false` or `null`
///   - A number that isn't 0
///   - A list that isn't empty
/// @param {*} $value - Value to check for truthiness.
/// @returns {Boolean} `true` if the value is truthy, `false` otherwise.
@function -ocha-check-ok($value) {
  $true: true;

  @if $value == null or $value == none {
    $true: false;
  }
  @if type-of($value) == 'number' and $value == 0 {
    $true: false;
  }
  @if type-of($value) == 'list' and length($value) == 0 {
    $true: false;
  }

  @return $true;
}

/// Check if a map contains all, some, or only the keys in a list, based on what flags are passed.
///   - If `$all` is `false`, the map must contain any keys in `$keys`.
///   - If `$all` is `true`, the map must contain every key in `$keys`.
///   - If `$all` is `true` and `$only` is `true`, the map must contain every key in `$keys`, and *only* those keys.
/// @param {Map} $map - Map to inspect.
/// @param {List} $keys - List of keys to check for.
/// @param {Boolean} $all [false] - Require all keys to be found.
/// @param {Boolean} $only [false] - Require the map to only have the keys in `$keys`.
/// @returns {Boolean} `true` if the map passes the test, `false` otherwise.
@function -ocha-check-keys($map, $keys, $all: false, $only: false) {
  // The Only flag can only be used with the All flag
  $only: if($all, $only, false);

  // Final result to be returned, eventually is true or false
  $result: null;

  // Number of matching keys found
  $matches: 0;

  @each $key, $value in $map {
    // Look for the key in the input map in the list of expected keys
    @if index($keys, $key) {
      $matches: $matches + 1;
    }
    // If this test is that the map ONLY has certain keys, then it fails if a key isn't found in the list
    @else if $only {
      $result: false;
    }
  }

  // If the test didn't already fail, we have one more check to do
  @if $result != false {
    // If the "all" flag is used, then every key in the list needs to have been found
    @if $all {
      $result: if($matches == length($keys), true, false);
    }
    // If the "all" flag is not used, then at least one key in the list needs to have been found
    @else {
      $result: if($matches > 0, true, false);
    }
  }

  @return $result;
}

/// Check if a map has a key, or a key with a specific value. Pass a single value to `$property` to check for a key only, or pass a list with two items to `$property` to check for a key and value.
/// @param {Map} $map - Map to inspect.
/// @param {*} $property - Key, or key and value, to look for.
/// @returns {Boolean} `true` if the key (or key and value) was found, `false` otherwise.
@function -ocha-check-property($map, $property) {
  $result: null;

  @if type-of($property) == 'list' {
    $key: nth($property, 1);
    $value: nth($property, 2);
    $result: if(map-has-key($map, $key) and map-get($map, $key) == $value, true, false);
  }
  @else {
    $result: map-has-key($map, $property);
  }

  @return $result;
}
