@import '../../node_modules/sass-true/sass/true';
@import '../../src/ocha';

$map-a: (
  one: 'one'
);

$map-b: (
  two: 'two'
);

@include test-module('Eql') {
  @include test('Passes if two maps are identical') {
    @include expect($map-a to eql $map-a);
  }
  @include test('Fails if two maps are not identical') {
    @include expect($map-a to eql $map-b);
  }
}

@include test-module('Not Eql') {
  @include test('Passes if two maps are not identical') {
    @include expect($map-a to 'not' eql $map-b);
  }
  @include test('Fails if two maps are identical') {
    @include expect($map-a to 'not' eql $map-a);
  }
}
