@import '../../node_modules/sass-true/sass/true';
@import '../../src/ocha';

$map: (
  one: 'one',
  two: 'two',
  three: (
    cat: 'cat'
  ),
);

// @include expect($map to have keys (one, two));
// @include expect($map to have keys (one));
//
// @include expect($map to have any keys (one));
// @include expect($map to contain all keys (one));
// @include expect($map to contain all keys (three));

@include test-module('Keys') {
  @include test('Passes if the map has only the keys in the list') {
    @include expect($map to have keys (one, two, three));
  }
  @include test('Fails if the map is missing a key') {
    @include expect($map to have keys (one, two));
  }
  @include test('Fails if the map has no matching keys') {
    @include expect($map to have keys (seven, nine));
  }
  @include test('Fails if the map has extra keys') {
    $new-map: map-merge($map, (four: 'four'));
    @include expect($new-map to have keys (one, two));
  }
}

@include test-module('Any Keys') {
  @include test('Passes if the map has any keys in the list') {
    @include expect($map to have any keys (one, four, eight));
  }
  @include test('Fails if the map does not have any matching keys') {
    @include expect($map to have any keys (even, ten));
  }
}

@include test-module('Contain All Keys') {
  @include test('Passes if the map has all the keys in the list') {
    @include expect($map to contain all keys (one, two));
  }
  @include test('Fails if the map is missing a key') {
    @include expect($map to contain all keys (one, two, eight));
  }
}
