.hljs {
  border-radius: 8px;
  display: block;
  padding: 1rem;
  font-weight: bold;
  background: $code-background;
  margin-bottom: 1rem;
  font-size: rem-calc(14);

  @include breakpoint(medium) {
    font-size: rem-calc(16);
  }
}
