.header {
  @include grid-column-row;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 16px solid $primary-color;
  margin-bottom: 1.5rem;

  @include breakpoint(medium) {
    padding-top: 2.5rem;
    margin-bottom: 3rem;
  }
}

.header_logo {
  text-align: center;
  width: 200px;
  display: block;
  margin: 0 auto;

  @include breakpoint(medium) {
    width: 328px;
  }
}
