h2 {
  border-bottom: 4px solid $primary-color;
  padding-bottom: 6px;
  margin-bottom: 1rem;
}

a {
  font-weight: bold;
}

.lead {
  font-size: rem-calc(26);
  line-height: 30px;
  font-weight: bold;

  @include breakpoint(medium) {
    font-size: rem-calc(32);
    line-height: 40px;
  }
}
